html { 
  background: url(eden.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto Mono', monospace;
  color: white;
}

.main {
  background-color: #131516;
  padding: 32px;
  display: inline-block;
  opacity: 0.9;
  max-width: 60em;
}

.main a {
  color: #ffc700;
}

hr{
  height: 1px;
  background-color: #ccc;
  border: none;
}
